# measurements module requirements
opencv-python>=4.8.0
opencv-contrib-python>=4.8.0
numpy>=1.24.0
mediapipe==0.10.31
# pytesseract>=0.3.10
scipy>=1.10.0
seaborn>=0.12.0

# hair classification model requirements
torch>=2.0.0
torchvision>=0.15.0
timm>=0.9.0
albumentations>=1.3.0
PyYAML>=6.0
tqdm>=4.65.0
scikit-learn>=1.3.0  

# shared requirements
Pillow>=9.0.0
matplotlib>=3.7.0

# aruco marker requirements
reportlab==4.4.9